.error {
  position: fixed;
  bottom: 15px;
  right: 15px;
  padding: 10px;
  border-radius: 10px;
  border: solid 1px #ee3465;
  width: 200px;
  background: white;
  z-index: 1;
}

.error__text {
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  margin: 0;
}

.error__span {
  color: #ee3465;
  font-weight: 400;
}
