.me {
  padding: 110px 70px 100px;
}

.me__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.23;
  margin: 0 0 66px;
  padding-bottom: 23px;
  border-bottom: 1px solid black;
}

.me__container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.me__description {
  max-width: 600px;
}

.me__author {
  margin: 0 0 18px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.16;
}

.me__about {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11;
  margin: 0 0 26px;
}

.me__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.57;
  margin: 0 0 99px;
}

.me__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  margin: 0;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.me__picture {
  width: 270px;
  border-radius: 10px;
}
